<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
		<p>layout.html.php before content</p>
        {% block content %}
        {% endblock %}
		<p>layout.html.php after content</p>
    </body>
</html>
